body {
    display: flex;
    padding: 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: rgb(147, 185, 171);
    width: 50%;
    height: 100vh;
}

.player.active {
    background-color: rgb(194, 203, 200);
}

.player2.active {
    background-color: rgb(194, 203, 200);
}

.player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color:rgb(147, 185, 171) ;
    width: 50%;
    height: 100vh;
}

.titreplayer {
    font-size: 40px;
    padding: 20px;
}

.newgame {
    position: fixed;
    display: flex;
    font-size: 20px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le bouton */
    padding: 20px 150px; /* Ajouter du remplissage au bouton */  
}

.newgame-button {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.rolldice {
    position: fixed;
    display: flex;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le bouton */
    padding: 20px 150px; /* Ajouter du remplissage au bouton */  
}

.rolldice-button {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.hold {
    position: fixed;
    display: flex;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le bouton */
    padding: 20px 150px; /* Ajouter du remplissage au bouton */  
}

.hold-button {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.dés {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    width: 150px;
    height: 100px;
    background-color: rgb(198, 92, 92);
}